.invoice-nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3.57967px 37.5866px rgba(189, 189, 189, 0.25);
}

.invoice-gen-text {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-family: 'Prompt', sans-serif;
    padding-left: 20px;
    color: #7161C5;
    display: inline-block;
}

.invoice-nav>img {
    padding-left: 40px;
    padding-top: 10px;
    width: 75px;
    display: inline-block;
}